.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(12px);
    padding: var(--spacing-smd);
    display: flex;
    align-items: center;

    .container {
        background-color: #fff;
        border-radius: 18px;
        width: min(95%, 60rem);
        margin: 0 auto;
        max-height: 560px;
        display: flex;
        align-items: center;
        position: relative;
        .close {
            color: #000;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 42px;
            padding: 1px;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.3s all ease;
            &:hover {
                background-color: rgba(45, 106, 79, 1);
                color: #fff;
            }
        }
    }

    .loginFormBox {
        width: min(100%, 40rem);
        margin: 0 auto;
        padding: var(--spacing-lg) var(--spacing-sm);
        .title {
            font-size: 2.8rem;
            color: var(--color-primary);
            letter-spacing: 1.2px;
            font-weight: bold;
        }
        .description {
            font-size: 1.6rem;
            color: var(--gray-700);
            padding-bottom: 3rem;
        }
        .login {
            display: flex;
            flex-direction: column;
            color: var(--color-primary);

            label {
                padding-block: 1.4rem;
            }
            input {
                padding: 1rem 1.5rem;
                outline: none;
                border-radius: 2rem;
                border: 1.5px solid var(--gray-400);
                margin-top: 1rem;
                &:focus {
                    border-color: #70d7b3;
                }
            }
            .error {
                color: var(--color-error);
                font-size: 1.4rem;
            }
            button {
                margin-top: 4rem;
                text-align: center;
                border: none;
                padding: 1rem;
                border-radius: 2rem;
                font-size: 1.8rem;
                letter-spacing: 1.2px;
                color: #fff;
                background-color: rgba(45, 106, 79, 1);
                transition: 0.3s all ease;
                cursor: pointer;
                &:hover {
                    background-color: #70d7b3;
                    color: var(--color-primary);
                }
                &:disabled {
                    background-color: var(--gray-400);
                    cursor: not-allowed;
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}
