.header {
    background-color: var(--color-primary);
    padding-top: 3rem;

    .heroBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 130rem;
        margin: 0 auto;
        padding-top: 5rem;

        h3 {
            font-size: 2rem;
            font-style: italic;
            color: var(--color-text-tint);
        }
        h1 {
            padding: 5rem 0;
            font-size: 7rem;
            width: 70%;
            text-align: center;
            color: var(--color-text-tint);

            span {
                color: var(--color-gray);
                font-style: italic;
            }
        }
    }
}

.main {
    background-color: var(--color-bg-shade);
    padding-top: 5rem;
    .articleList {
        display: flex;
        flex-wrap: wrap;
        max-width: 130rem;
        margin: 0 auto;
        justify-content: center;
        gap: 4rem;
    }
}
