.main {
    width: 85%;
    padding: 1rem;
    margin-top: 1.8rem;
    background-color: var(--color-primary);
    border-radius: 1.1rem;
    display: flex;
    gap: 3rem;

    .flex1 {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        .welcomeBox {
            padding: 2rem;
            font-size: 2rem;
            background-color: #2d6a4f;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            border-radius: 1.2rem;
            color: var(--color-gray);

            p:first-child {
                font-size: 3rem;
                letter-spacing: 2px;
                margin-bottom: 1rem;
                font-family: var(--font-primary);
            }
            a {
                color: var(--color-gray);
                background-color: var(--color-text-tint);
                font-size: 1.6rem;
                padding: 1.2rem;
                border-radius: 2.5rem;
                display: flex;
                justify-content: center;
                transition: 0.3s all ease-in-out;
            }
            a:hover {
                background-color: #071913;
            }
        }
        .articleBox {
            background-color: #d5eee2;
            border-radius: 1.1rem;
            padding: 1rem;
            color: #f1f1f1;
            height: 40rem;
            overflow: scroll;
            overflow-x: hidden;

            .topBar {
                font-size: 2.4rem;
                font-family: var(--font-primary);
                color: var(--color-bg-shade);
                letter-spacing: 2px;
                margin-bottom: 1rem;
                margin-bottom: 1.6rem;
            }
            .articles ul {
                display: flex;
                flex-direction: column;
                gap: 2rem;

                article {
                    display: flex;

                    .article {
                        display: flex;
                        gap: 1rem;
                        width: 60%;

                        p:first-child {
                            font-size: 2.2rem;
                            color: #6b7773;
                        }
                        img {
                            border-radius: 1.1rem;
                        }
                        div {
                            .title {
                                font-size: 1.8rem;
                                color: #1b4332;
                            }
                            span {
                                font-size: 1.6rem;
                                color: #6b7773;
                            }
                        }
                    }
                    .review {
                        display: flex;
                        gap: 2rem;
                        width: 40%;
                        justify-content: space-around;
                        font-size: 1.6rem;
                        color: var(--color-text-tint);
                        .iconBox {
                            display: flex;
                            align-items: center;
                            gap: 1rem;
                        }
                    }
                }
            }
        }
    }
    .flex2 {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .box {
            padding: 3rem;
            border-radius: 1.1rem;
            display: flex;
            gap: 2rem;
            font-size: 3.8rem;
            align-items: center;
            color: var(--color-bg-shade);

            p {
                font-family: sans-serif;
                font-weight: 700;
            }
            span {
                font-size: 1.8rem;
                font-weight: 400;
            }
        }
        .category {
            background-color: #d9eddf;
        }
        .posts {
            background-color: #90d1b1;
        }
        .users {
            background-color: #5d9e7e;
        }
    }
}
