.logo {
    color: #1b4332;
    font-size: 1.6rem;
    border: 1px solid #1b4332;
    padding: 1.2rem;
    border-radius: 2.5rem;
    display: flex;
    justify-content: center;
    width: 17rem;
    cursor: pointer;
}
