.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 4rem;

    .link {
        font-size: 2rem;
        color: var(--color-text-tint);
        transition: 0.3s all ease-in-out;
        position: absolute;
        right: 2%;

        &:hover {
            color: var(--color-gray);
            box-shadow: inset 0px -1px var(--color-gray);
        }
    }
}

@media (max-width: 900px) {
    .nav {
        justify-content: flex-start;
    }
}
