.nav {
    width: 20%;
    padding-inline: 3rem;
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    backdrop-filter: blur(24px) saturate(57%);
    -webkit-backdrop-filter: blur(24px) saturate(57%);
    background-color: rgba(45, 106, 79, 1);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);

    .logo {
        font-size: 2rem;
        letter-spacing: 1.2px;
        font-weight: bold;
    }
    li {
        margin-bottom: 1rem;
        padding-inline: 1rem;
        padding-block: 1rem;
        letter-spacing: 1.4px;
    }
    .active {
        background-color: var(--color-tint);
        border-radius: 12px;
        a {
            font-weight: bold;
            color: var(--color-primary);
        }
    }
}
