.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eaeeeb;
    text-align: right;
    height: 80px;
    line-height: 70px;
    padding-inline: 30px;
}
.logo {
    margin-inline: 30px;
    font-size: 2.8rem;
    font-weight: bold;
}
.menu {
    display: flex;
    gap: 2rem;
}
.menu a {
    line-height: 70px;
}

.checkBtn {
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}
#toggle {
    display: none;
}

@media only screen and (max-width: 900px) {
    .navigation {
        background-color: #70d7b3;
        border-bottom: 0px;
    }
    .checkBtn {
        display: block;
        cursor: pointer;
    }
    .menu {
        flex-direction: column;
        position: absolute;
        top: 78px;
        left: -100%;
        width: 60%;
        height: 100vh;
        background-color: #70d7b3;
        text-align: center;
        transition: 0.5s all ease;
    }

    .menu a {
        font-size: 2rem;
        color: var(--color-primary);
        display: block;
        margin: 0px;
    }

    #toggle:checked + .menu {
        left: 0;
    }
}
