.main {
    width: 85%;
    padding: 1rem;
    margin-top: 1.8rem;
    background-color: var(--color-primary);
    border-radius: 1.1rem;
    display: flex;
    gap: 3rem;
    .flex2 {
        width: 100%;
        display: flex;
        gap: 2rem;
        .containerImg {
            display: flex;
            flex-direction: column;
            gap: 5rem;
            width: 40%;
        }
        .image {
            padding: 1rem;
            border-radius: 1.1rem;
            background-color: #5d9e7e;
            height: 10rem;
            width: 100%;
            cursor: pointer;

            &::file-selector-button {
                padding: 1rem;
                border-radius: 1.2rem;
                border: none;
            }
        }

        .newPost {
            background-color: #90d1b1;
            display: flex;
            flex-direction: column;
            width: 60%;
            padding: 3rem;
            border-radius: 1.1rem;
            display: flex;
            gap: 2rem;
            font-size: 3.8rem;

            .title {
                padding: 1.6rem;
                border: none;
                border-radius: 1.6rem;
                font-size: 1.8rem;
                word-wrap: break-word;
                outline: none;
            }
            .body {
                padding: 1.6rem;
                border: none;
                border-radius: 1.6rem;
                font-size: 1.8rem;
                width: 100%;
                height: 40rem;
                word-wrap: break-word;
                resize: none;
                outline: none;
            }

            button {
                color: #fff;
                background-color: #1b4332;
                font-size: 1.6rem;
                padding: 1.2rem;
                border: none;
                border-radius: 2.5rem;
                display: flex;
                justify-content: center;
                cursor: pointer;
                transition: 0.3s all ease-in-out;
                margin-bottom: 1rem;
            }
        }
    }
}
